/*New year Section*/
.new-year {
    background-image: url(../images/banner-image.png);
    background-repeat: no-repeat;
    backdrop-filter: brightness(500%);
    width: 1320px;
    height: 600px;
    margin: 0 auto;



}

.new-year-title1 {
    color: white;
    text-align: center;
    padding: 177px 530px 0px 530px;
    font-size: 32px;
    font-weight: 400;
    font-family: Merriweather;

}

.new-year-title2 {
    color: white;
    text-align: center;
    padding: 0px 344px 177px 344px;
    font-size: 72px;
    font-weight: 700;
    font-family: Merriweather;

}

/*Discount Section*/
.discount {
    width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
}

.discount-title1 {
    text-align: center;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discount-title2 {
    text-align: center;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.discount-title3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

/*Party Section*/
.party {
    background-image: url(../images/midnight-party.png);
    background-repeat: no-repeat;
    width: 1320px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 120px;
}

.party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin: 126px 0px 50px 120px;
}

.party-descript {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-left: 120px;
    margin-bottom: 40px;

}

.party-join {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin: 50px 0px 142px 158px;
}

.party-image {
    padding: 76px 145px 70px 20px
}

/*Party Schdule Section*/
.schedule {
    background-color: rgba(255, 0, 0, 0.10) 0%;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00));
    /*From google*/
    text-align: center;
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 10px;

}

.primary {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}

.sch-titile {
    padding-top: 100px;
}

.pspan {
    color: #F00;

}

.btn {
    padding: 16px 32px;
    background: #F00;
    border-radius: 8px;
    border: 0px;
    color: #FFF;
    text-align: center;

}

/*Offer Section*/
.offer-section {
    background-color: #FFF;
    width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.offer-section1 {
    width: 393px;

}

.offer-section1-title1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.offer-section1-title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.offer-section1-descript {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.offer-image1 {
    width: 365px;
    height: 365px;
    border: 15px solid #F00;
    border-radius: 463px;
    padding: 35px;

}

.offer-section2 {
    width: 276px;
}

.offer-section2-title1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer-section2-descript {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

/*Portfolio Section*/
.portfolio-main {
    width: 1600px;
    margin: 0 auto;
    margin-top: 120px;
}

.portfolio-title1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio-title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.portfolio-descript {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

.portfolio-images div {
    padding: 10px;

}
.portfolio-images div:hover{
    border: 5px solid dodgerblue;
    border-radius: 10px;
}

/*Newsletter Section*/
.newsletter-section {
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;

}

.newsletter-section img {
    padding-top: 80px;
}

.newsletter-section h2 {
    color: #070211;

    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.newsletter-section p {
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin: 0px 212px 0px 212px;
}

.input-div {
    padding-top: 80px;
}

.input-div input {
    padding: 20px 60px;
    border: 0;
    background: #FFF;
    color: rgba(7, 2, 17, 0.30);
}

.input-div button {
    padding: 20px 30px;
    border-radius: 0px 50px 50px 0px;
    border: 0;
    background: #F00;
    color: #FFF;
}

/*Footer Section*/
.footer-section {
    margin: 0 auto;
    margin-top: 120px;
    width: 1600px;
    height: 609px;
    background-color: #070211;
}

.footer-section1 {
    display: flex;
    justify-content: space-between;
}

.footer-section1 div p,
span {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.footer-section1 .address p {
    padding: 120px 0px 0px 120px;
    width: 375px;
}

.address {
    padding-top: 20px;
    padding-left: 16px;
}

.contact {
    padding-bottom: 30px;
}

.contact p {
    padding: 120px 275px 0px 0px;
}

.contact p img {
    padding: 0px 10px;

}

.contact span {
    padding: 0px 275px 0px 0px;
}

.contact span img {
    padding: 0px 10px;
}

hr {
    width: 1320px;
}

.footer-section2 {
    text-align: center;
    padding: 40px;
}

.footer-section2 img {
    padding: 10px;
}

.footer-section3 {
    display: flex;
    justify-content: space-between;
}

.footer-section3 .copyright {
    color: #FFF;
    padding: 0px 0px 120px 140px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.footer-section3 .unsub {
    color: #FFF;
    padding: 0px 140px 120px 0px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}